@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200vh;
  padding-top: 9rem;
  font-family: "Nunito Sans", sans-serif;
}

@media (min-width: 1200px) {
  .page {
    padding-top: 0;
  }
}

.page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page__footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 2;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.logo {
  display: block;
}

.logo__img {
  height: 4.8rem;
}

.menu__btn {
  display: block;
  cursor: pointer;
}

.menu__list {
  position: absolute;
  top: 60px;
  right: 27px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  list-style: none;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(18, 74, 138, 0.24);
          box-shadow: 0 4px 8px 0 rgba(18, 74, 138, 0.24);
}

.menu__list--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  display: block;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.menu__link:active {
  color: #000;
}

@media (min-width: 1200px) {
  .nav {
    position: static;
    padding: 3rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .logo__img {
    height: 6rem;
    padding-right: 2rem;
  }
  .menu__btn {
    display: none;
  }
  .menu__list {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu__element:last-child .menu__link {
    padding-right: 0;
  }
  .menu__link {
    position: relative;
    padding: 1rem 2.5rem;
    font-size: 1.9rem;
    line-height: 2rem;
    color: #000;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
}

.footer {
  width: 100%;
  padding: 3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.footer__logo {
  display: block;
  height: 4rem;
  margin: 0 auto;
}

.footer__links {
  position: relative;
  padding: 2rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 70rem;
  margin-bottom: 1rem;
}

.footer__links::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: .5rem;
  left: .5rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.footer__link {
  text-decoration: none;
  color: #555;
  font-size: 1.4rem;
  padding: .5rem;
  font-weight: 600;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.social-icon {
  padding: 1rem;
  cursor: pointer;
}

.footer__bootom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -2rem;
}

.footer__rights {
  font-size: 1.2rem;
  font-weight: 300;
}

.footer__author {
  font-size: 1rem;
  font-weight: 200;
}

.footer__author .author__link {
  text-decoration: underline;
  color: #222;
}
/*# sourceMappingURL=style.css.map */