$primary-color: #E80813;
$link-font: #000;

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 2;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.logo {
    display: block;

    &__img {
        height: 4.8rem;
    }
}

.menu__btn {
    display: block;
    cursor: pointer;
}

.menu__list {
    position: absolute;
    top: 60px;
    right: 27px;
    display: none;
    flex-direction: column;
    text-align: center;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(18, 74, 138, .24);

    &--active {
        display: flex;
    }
}

.menu__link {
    display: block;
    padding: 2rem 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    transition: color .2s;

    &:active {
        color: $link-font;
    }
}


@media (min-width: $breakpoint-desktop) {
    .nav {
        position: static;
        padding: 3rem;
        box-shadow: none;
    }

    .nav-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .logo__img {
        height: 6rem;
        padding-right: 2rem;
    }

    .menu__btn {
        display: none;
    }

    .menu__list {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: none;
    }

    .menu__element:last-child .menu__link {
        padding-right: 0;
    }

    .menu__link {
        position: relative;
        padding: 1rem 2.5rem;
        font-size: 1.9rem;
        line-height: 2rem;
        color: $link-font;

        &:hover {
            text-decoration: underline;
        }




        // &::after {
        //     // display: none;
        //     content: "";
        //     position: absolute;
        //     // bottom: 1rem;
        //     width: 3.2rem;
        //     height: 3.2rem;
        //     // top: 50%;
        //     bottom: -1rem;
        //     transform: translateY(-50%);
        //     // background-color: #ccc;
        //     // z-index: -1;
        //     background-image: url("/assets/car.svg");
        //     background-position: center center;
        //     background-size: cover;
        //     opacity: 0;
        //     transition: opacity 0.2s;
        //     margin-left: .3rem;

        // }

        // &:hover::after {
        //     opacity: 1;
        // }
    }
}